.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 8rem;
  background-color: #fff;
  &_title {
    color: #292d33;
    font-size: 1.5rem;
  }

  &_content {
    margin-top: 0.5rem;
    color: #9497a1;
    font-size: 0.65rem;
  }
}
