header {
  width: 100%;
  border-bottom: 1px solid #e5e5e5;

  nav {
    flex-direction: row;
    width: 90%;
    margin: 0 auto;

    ul {
      display: flex;
      align-items: center;
      width: 100%;
      list-style: none;
    }
    li {
      margin-right: 0.5rem;
      a {
        text-decoration: none;
        color: #292d33;
        &:hover {
          color: #9497a1;
          text-decoration: underline;
        }
      }
    }
    img {
      height: 0.5rem;
    }

    .contact {
      margin-left: auto;
    }
  }
}
