.sections {
  width: 80%;
  margin: 0 auto;

  .section {
    margin: 1.5rem 0 1rem;
  }

  .section_title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #292d33;
  }
  .section_content {
    width: 100%;
    justify-content: space-between;
    margin-top: 1rem;
    display: flex;
  }

  .card {
    display: flex;
    align-items: center;
    cursor: pointer;

    &_logo {
      height: 1.5rem;
    }
    &_content {
    }
  }
}
